.container{
  width: 500px;
  height: 500px;
  margin: 50px auto;
}
.signin-heading{
  margin-bottom: 10px;
  width: 300px;
  height: 33px;
  line-height:33px; 
  font-size:30px;
  font-weight:500;
}
.form-control,.form-sign{
  display:block;
  width: 300px;
  height: 24px;
  padding: 10px;
  color:#ccc;
  font-size: 14px;
  border:1px solid #ccc;
  border-radius: 4px;
  outline-color:#66afe9;
}
.form-sign{
  width: 320px;
  height:46px;
  margin-top: 20px;
  font-size: 18px;
  border:1px solid #286090;
  background-color: #204D74;
  outline:none;
}
.info a{
  padding-left:20px ;
  width: 256px;
  height:20px;
  font-size:14px;
  color:#23527B;
}
