<div class="contact-list">
  <h2 class="sub-header">我的联系人</h2>
  <div class="table-responsive">
    <!-- Single button -->
    <div class="btn-group">
      <button type="button" class="dropdown-toggle"> 所有 <i class="iconfont icon-icon-test"></i></button>
      <ul class="dropdown-menu" style="display:none">
        <li><a href="#">朋友</a></li>
        <li><a href="#">家人</a></li>
        <li><a href="#">公司</a></li>
        <li><a href="#">同学</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>
    <a class="add-linker" href="contact-new.html">新增联系人</a>
    <table class="pure-table">
      <thead>
        <tr>
          <th>姓名</th>
          <th>邮箱</th>
          <th>电话</th>
          <th>标签</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1,001</td>
          <td>Lorem</td>
          <td>ipsum</td>
          <td><span class="label-friends">朋友</span></td>
          <td>
            <a href="edit.html">编辑</a>
            <a href="#">删除</a>
          </td>
        </tr>
        <tr>
          <td>1,001</td>
          <td>Lorem</td>
          <td>ipsum</td>
          <td><span class="label-family">家人</span></td>
          <td>
            <a href="edit.html">编辑</a>
            <a href="#">删除</a>
          </td>
        </tr>
        <tr>
          <td>1,001</td>
          <td>Lorem</td>
          <td>ipsum</td>
          <td><span class="label-work">工作</span></td>
          <td>
            <a href="edit.html">编辑</a>
            <a href="#">删除</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>