<div class="contact-list">
    <h2 class="sub-header">标签管理</h2>
    <div class="table-responsive">
      <!-- Single button -->
      
      <a class="add-linker" href="contact-new.html">新增标签</a>
      <table class="pure-table">
        <thead>
          <tr>
            <th>序号</th>
            <th>分类名称</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1,001</td>
            <td><span class="label-friends">朋友</span></td>
            <td>
              <a href="edit.html">编辑</a>
              <a href="#">删除</a>
            </td>
          </tr>
          <tr>
            <td>1,001</td>
            <td><span class="label-family">家人</span></td>
            <td>
              <a href="edit.html">编辑</a>
              <a href="#">删除</a>
            </td>
          </tr>
          <tr>
            <td>1,001</td>
            <td><span class="label-work">工作</span></td>
            <td>
              <a href="edit.html">编辑</a>
              <a href="#">删除</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
  
  </div>