<div class="tag-list">
    <h2 class="sub-header">新增联系人</h2>
    <div class="table-responsive">
        <form>
        <div class="form-group">
            <label for="exampleInputEmail1">姓名</label>
            <input type="email" class="form-control" id="exampleInputName" placeholder="Name">
            <label for="exampleInputEmail1">邮箱</label>
            <input type="email" class="form-control" id="exampleInputEmail" placeholder="Email">
            <label for="exampleInputEmail1">电话</label>
            <input type="email" class="form-control" id="exampleInputPhone" placeholder="Phone">
        </div>
        <button type="submit" class="btn-info">创建</button>
        </form>
    </div>
</div>